<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      .center-content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    </style>
  </head>
<body>
  <div class="container center-content">
    <h1 class="mb-3">Trampas Eleftherios</h1>
    <p class="mb-4">trampasleuteris@gmail.com</p>
    <a th:href="@{/showMatches}" class="btn btn-primary btn-sm" th:text="'Matches'">Matches</a>
  </div>
</body>
</html>
